@(message: String)

@main("Choco IDE") {

    <header id="header" class="row">
        <div class="col-xs-offset-1 col-sm-offset-3">
            <img id="chocologo" src='@routes.Assets.at("images/ChocoLogo-160x135.png")'/>
            <div class="text-justify">
                <h2>Try Choco online !</h2>
                <a href="http://choco-solver.org/">http://choco-solver.org/</a>
            </div>
        </div>
    </header>

    <section class="row">
        <div id="editor" class="col-xs-12 col-md-6"></div>
        <div id="console" class="col-xs-12 col-md-6"></div>
        <div id="not-editor" class="col-xs-12 col-md-12">
            <span class="row">
                <p class="col-xs-6">Choose a sample to run or drag a class of your own ! </p>
                <select id="samples" class="col-xs-4"></select>
                <button id="refreshSamplesButton" type="button" class="btn btn-primary btn-xs" onclick="updateSamples()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
            </span>
            
            <button id="runButton" type="button" class="btn btn-success btn-lg col-xs-offset-1 col-xs-4 col-md-1 col-md-offset-4" onclick="compile()" title="Compile and Run" data-placement='left'>
                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger btn-lg col-xs-offset-2 col-xs-4 col-md-1 col-md-offset-2" data-toggle="modal" data-target="#reportModal" title="Compile and Run" data-placement='left'>
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            </button>
        </div>
            <!-- Report Modal -->
        <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Report an issue</h4>
                    </div>
                    <div class="modal-body">
                        <form id="reportForm" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="email">Email</label>
                                <div class="col-md-4">
                                    <input id="emailReport" name="email" type="email" placeholder="Your email address" class="form-control input-md" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="comment">Comment</label>
                                <div class="col-md-4">
                                    <textarea id="commentReport" rows="5" name="comment" type="text" placeholder="Your comment" class="form-control input-md" required></textarea>
                                </div>
                            </div>
                            <p><i>Please note that your code and the output will be sent with your informations.</i></p>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

            <!-- Alert when compile service returns another code than HTTP 200 -->
        <div class="modal fade autohide" id="alertCompileFailure" tabindex="-1" role="dialog" aria-labelledby="alertCompileFailureLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="alert alert-danger" role="alert">
                    <span>
                        <p>Error occurred when compiling your source code, please try again later.</p>
                    </span>
                </div>
            </div>
        </div>

            <!-- Alert when compile service timed out -->
        <div class="modal fade autohide" id="alertCompileTimeout" tabindex="-1" role="dialog" aria-labelledby="alertCompileTimeoutLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="alert alert-danger" role="alert">
                    <span>
                        <p>Compilation process took more time than expected : TIMEOUT</p>
                    </span>
                </div>
            </div>
        </div>

            <!-- Alert when report submitted successfully -->
        <div class="modal fade autohide" id="alertReportSuccess" tabindex="-1" role="dialog" aria-labelledby="alertReportSuccessLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="alert alert-success" role="alert">
                    <span>
                        <p>The report has been sent successfully !</p>
                    </span>
                </div>
            </div>
        </div>

            <!-- Alert when report not submitted due to errors -->
        <div class="modal fade autohide" id="alertReportFailure" tabindex="-1" role="dialog" aria-labelledby="alertReportFailureLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="alert alert-danger" role="alert">
                    <span>
                        <p>Error occurred when trying to submit the report, please try again later.</p>
                    </span>
                </div>
            </div>
        </div>

    </section>

    <footer id="footer" class="row text-center">
        <p>Made in May 2015</p>
    </footer>

}
